.App__container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.SearchInput__container {
  display: flex;
  align-items: center;
}

.SearchInput__input_container {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #444;
}

.SearchInput__input {
  flex: 1;
  border: none;
  font-size: 20px;
  padding: 0;
  outline: none;
  padding-left: 12px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.action_button {
  border: none;
  background-color: transparent;
  color: blue;
  padding: 8px 10px;
  position: cursor;
}

.action_button--danger {
  color: red;
}

.action_button--close {
  color: unset;
}

/*  */

.userform__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.userform__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.userform__form {
  z-index: 2;
  max-width: 860px;
  margin: 30px auto;
  padding: 20px 30px;
  background-color: white;
}

input {
  border: 2px solid #bbb;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
